<div>
<h3>Coh-Metrix-Esp</h3>
<p>Ingrese el texto a analizar</p>

<%= form_tag({}, {:class => 'form'}) do %>
	<textarea rows=10 id='texto' name='texto' style="width:95%; margin-bottom:10px"> </textarea>
	<button type="submit" class="btn">Analizar Texto</button>
<% end %>

</div>
